body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin: 0;
}
* {
  box-sizing: border-box;
}

/* #region  */
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
}

/* common */
.container {
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}
/* #endregion  */

/* #region header */
.page-header {
  background-color: #fff;
}
.header-container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
}

.header-logo {
  display: block;
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
  margin-right: 237px;
  padding: 22px 0;
}

.nav-list {
  display: flex;
  gap: 30px;
}
.nav-list-item {
}
.nav-item-link {
  display: block;
  padding: 26px 0;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 28px; */
  line-height: 1.75;
  color: #22343d;
}
.active {
  font-weight: 600;
}
.list-btn {
  display: flex;
  gap: 21px;
  margin-left: auto;
}
.list-btn-sign {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #173a56;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  width: 105px;
  height: 42px;
  background-color: #fff;
}
.second {
  font-weight: 600;
  width: 113px;
  height: 42px;
  background-color: #02897a;
  border-radius: 4px;
  color: #fff;
}
/* #endregion header */

/* #region section hero */
.section-hero {
  padding: 25px 0 50px;
}
.hero-container {
  display: flex;
  gap: 35px;
}

.wrapper {
  padding: 112px 0;
}

.hero-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #22343d;
}
.hero-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #22343d;
  margin-bottom: 45px;
}
.hero-list {
  display: flex;
  gap: 30px;
}
.hero-list-item {
}
.hero-list-btn {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background-color: #02897a;
  border-radius: 4px;
  width: 178px;
  height: 53px;
}
.hero-list-btn2 {
  font-weight: 600;
  width: 178px;
  height: 53px;
  background: transparent;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #02897a;
}

/* #endregion section hero */

/* #region section feature */
.section-feature {
  padding: 50px 0;
}
.feature-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #22343d;
  max-width: 539px;
  margin: 0 auto 50px;
}
.feature-list {
  display: flex;
  gap: 30px;
}
.spes.feature-list-item:not(:last-child) {
  margin-right: 30px;
}
.feature-list-item {
  width: calc((100% - 90px) / 4);
}
.feature-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 19px;
  width: 54px;
  height: 54px;
}
.first {
  background-color: #02897a;
}

.second2 {
  background: #4d8dff;
}

.third {
  background: #740a76;
}

.four {
  background: #f03e3d;
}

.icon-feature {
  fill: #fff;
}
.feature-list-subtitle {
  font-weight: 600;
  font-size: 22px;
  color: #22343d;
  margin-bottom: 13px;
}
.feature-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
}
.feature-btn {
  display: block;
  margin: 50px auto 0;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background-color: #02897a;
  border-radius: 4px;
  width: 175px;
  height: 53px;
}
/* #endregion section feature */

/* #region section Business management */
.section-business {
  padding-bottom: 50px;
}
.business-container {
  display: flex;
  gap: 84px;
}
.container-business-text {
  padding: 41px 0;
}
.section-business-title {
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
  margin-bottom: 25px;
  width: 224px;
}
.section-business-title-span {
  font-weight: 600;
  font-size: 16px;
  color: #22343d;
  padding: 8px;
}
.one {
  margin-bottom: 30px;
}
.section-business-text {
  font-weight: 400;
  width: 486px;
  line-height: 1.625;
  color: #22343d;
  margin-bottom: 25px;
}
.section-business-list {
  margin-bottom: 25px;
}
.section-business-subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
}
/* #endregion section Business management */

/* #region section Support */
.section-support {
  padding: 50px 0;
}
.support-container {
  display: flex;
  gap: 84px;
}
.one {
  margin-bottom: 30px;
}
.container-support-text {
  padding: 41px 35px 40px 0;
}
.support-title-span {
  font-weight: 600;
  font-size: 16px;
  color: #22343d;
}
.support-title {
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
  width: 303px;
  margin-bottom: 25px;
}
.support-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  margin-bottom: 25px;
}
.support-list {
  margin-bottom: 25px;
}
.support-list-item {
  width: 450px;
}

/* #endregion section Support */

/* #region section Collaboration */
.section-collaboration {
  padding: 50px 0;
}
.collaboration-container {
  display: flex;
  gap: 84px;
}
.container-collaboration-text {
  padding: 41px 0;
  width: 486px;
}
.one {
  margin-bottom: 30px;
}
.collaboration-title-span {
  font-weight: 600;
  font-size: 16px;
  color: #22343d;
  margin-bottom: 8px;
}
.collaboration-title {
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
  width: 226px;
  margin-bottom: 25px;
}

.collaboration-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
}
.collaboration-list {
}
.collaboration-list-item {
  margin-bottom: 25px;
}
.collaboration-list-subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  margin-bottom: 12px;
}

/* #endregion section Collaboration */

/* #region section Quick & Easy */
.section-quickeasy {
  padding: 100px 97px;
}
.container-quickeasy {
  width: 916px;
}
.section-quickeasy-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #22343d;
  margin-bottom: 25px;
}
.section-quickeasy-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  color: #22343d;
  margin-bottom: 40px;
}
.section-quickeasy-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 31px 100px;
  margin-bottom: 50px;
}
.section-quickeasy-list-item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.section-quickeasy-list-text {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #2f281e;
  border-radius: 25px;
  box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
  padding: 14px 20px;
  background-color: #fff;
}
.section-quickeasy-list-btm {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  width: 216px;
  height: 53px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background-color: #02897a;
  margin-bottom: 100px;
}

/* #endregion section Quick & Easy */

/* #region section News feed */
.section-newsfeed {
  padding-bottom: 171px;
}
.section-newsfeed-container {
  width: 1110px;
}
.section-newsfeed-title {
  font-weight: 700;
  font-size: 34px;
  color: #22343d;
  margin-bottom: 10px;
}
.section-newsfeed-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  margin-bottom: 40px;
}
.section-newsfeed-list-text-span {
  font-weight: 700;
}
.section-newsfeed-list {
  display: flex;
  gap: 30px;
}
.section-newsfeed-list-item {
  width: calc((100% - 60px) / 3);
}
.section-newsfeed-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
  margin-top: 24px;
  margin-bottom: 12px;
}
.section-newsfeed-list-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.66667;
  color: #22343d;
}
/* #endregion section News feed */

/* #region section Pricing */
.pricing {
  padding-bottom: 100px;
}

.price-title {
  font-weight: 700;
  font-size: 34px;
  color: #22343d;
}

.price-title-descr {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #22343d;
}

.price-list {
  display: flex;
  gap: 72px;
}

.price-item {
  border-radius: 8px;
  width: 322px;
  height: 456px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  width: calc((100% - 72px * 2) / 3);
  padding: 32px 71px;
  transition: transform 0.25s;
}

.price-item:nth-child(2) {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  background: #02897a;
}

.price-item-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #22343d;
  /* line-height: 40px; */
  line-height: 1.66667;
}

.price-item-title-descr {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #22343d;
  /* line-height: 40px; */
  line-height: 2.5;
  color: #22343d;
}

.price-number {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 76px;
  color: #02897a;
  /* line-height: 100px; */
  line-height: 1.31579;
  letter-spacing: 0em;
  text-align: center;
}

.priscing-wrap {
  display: flex;
}

.price-valute {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #02897a;
  /* line-height: 30px; */
  line-height: 1.25;
  letter-spacing: 0em;
}

.price-period {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #22343d;
  /* line-height: 19px; */
  line-height: 1.1875;
  letter-spacing: 0.01em;
  color: #e0e0e0;
}

.price-list-points {
}

.price-points-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;

  /* line-height: 22px; */
  line-height: 1.375;
  letter-spacing: 0.01em;
}

.item-operations,
.item-notifications,
.item-landing {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;

  /* line-height: 22px; */
  line-height: 1.375;
  letter-spacing: 0.01em;
  color: #22343d;
}

.standart {
  color: #fff;
}

.price-btn {
  border-radius: 8px;
  width: 139px;
  height: 44px;
  background: #02897a;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

.standart-btn {
  color: #02897a;
  background: #fff;
}

.price-item:hover,
.customer-item-box:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.customer-item-box:hover svg {
  width: 18px;
  height: 16px;
}
svg {
  transition: transform 0.25s;
}
/* #endregion section Pricing */

/* #region section Clients Say */
.clients-title {
}
.clients-text {
}
.clients-list {
}
.clients-list-item {
}
.clients-list-text {
}
.clients-list-subtitle {
}
/* #endregion section Clients Say */

/* #region section Join 100 */
.section-join {
}
.join-title {
}
.join-btn {
}
/* #endregion section Join 100 */

/* #region footer */
.page-footer {
}
.logo-link {
}
.logo-footer {
}
.footer-subtitle {
}
.footer-list {
}
.footer-list-item {
}
/* #endregion footer */
